h2 {
    font-size: 2.5rem;        /* Adjust the font size as needed */
    font-weight: bold;        /* Make the text bold */
    margin-bottom: 1rem;      /* Add spacing below the h2 */
    color: #333;             /* Choose a text color (dark gray in this example) */
    font-family: 'Roboto', sans-serif;
  }

.menu-item{
    font-size: 2rem;        /* Adjust the font size as needed */
    font-weight: bold;        /* Make the text bold */
    margin-bottom: 1rem;      /* Add spacing below the h2 */
    color: #26158b;             /* Choose a text color (dark gray in this example) */
    font-family: 'Roboto', sans-serif;
    list-style: none;
  }

.header {
    background: linear-gradient(to right, #f0f8ff, #e6f2ff); /* Light blue gradient */
}